#dashboard {
    background-image: url('/assets/background.jpg');
}

.postIt {
    margin: 0;
    border: 0;
}

.postItHeader {
    height: 2em;
    min-width: 5em;
}

.postItBody {
    background-color: gold;
    padding: 3px;
}